<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="[tempalte_relative_path]template.css">
</head>

<body>
	<div class="outline">
		<div class="card">

			<!-- 角色图片 见CSS部分 -->
			<div class="card-image" style="background-image:url('../[image]')"></div>

			<!-- <div class="frame-top"></div> -->
			<!-- <div class="frame-right"></div> -->

			<div class="blur-background"></div>

			<div class="suit" style="color:[suit-color]">
				<div class="card-number"><b>[card-number]</b></div>
				<div class="card-suit">[card-suit]</div>
			</div>

			<div class="card-header">
				<!-- 部落 开始 -->
				<div class="clan">[clan]</div>
				<!-- 部落 结束 -->

				<!-- 调节血量 开始 -->
				[bloods]
				<!-- 调节血量 结束 -->
			</div>

			<!-- 角色描述 开始 -->
			<!-- <div class="profile-section">
			<div class="nickname">
				<b>[nickname]</b>
			</div>
			<div class="name">
				[name]
			</div>
		</div> -->
			<!-- 角色描述 结束 -->

			<!-- 技能描述 开始 -->
			<div class="skill-section">
				[skills]
				<!-- 技能描述 结束 -->
			</div>

			<div class="card_type"></div>
		</div>
	</div>
</body>

</html>
